{% extends 'base.html' %}
{% load static %}
{% block title %} Registration {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/regular_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/regular_responsive.css' %}">

{% endblock %}

{% block body %}

<br><br>
    <h1 class="text-primary  text-center text-uppercase"><strong>Forget Password</strong></h1><br>


      <div class="container register" style="border-radius: 1rem;">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p class="text-white">You are 30 seconds away from earning your own money!</p>
                        <a href="{% url 'login' %}"><input type="submit" name="" value="Login"/></a><br/>
                    </div>
                    <div class="col-md-9 register-right">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Forget Password</h3>

                                <form action="{% url 'forget_password_otp' %}" method="post">
                                    {% csrf_token %}
                                <div class="row register-form">

                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Your OTP *" required="required" name="otp" value="" /> <br>
                                            <input type="password" class="form-control" placeholder="Enter New Password *" required="required" name="password1" value="" /> <br>
                                            <input type="password" class="form-control" placeholder="Enter Confirm Password *" required="required" name="password2" value="" />

                                        </div>
                                        <div class="mt-2">
                                            {% for message in messages %}
                                    <span style="color:red;">{{message}}</span>
                                {% endfor %}
                                        </div>
                                        <div class="row">


                                            <div class="col-md-5">
                                            <a href="{% url 'forget_password_resend_otp' %}" class="btnRegister" >Resend OTP</a>
                                                </div>

                                            <div class="col-md-4">
                                        <input type="submit" class="btnRegister"  value="Submit"/>
                                                </div>

                                    </div>
                                        </div>
                                </div>
                                    </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
<br><br>


{% endblock %}

{% block script %}

<script src="{% static 'js/regular_custom.js' %}"></script>


{% endblock %}