{% extends 'user_dashboard.html' %}
{% load static %}
{% block title %} Edit Profile {% endblock %}

{% block css %}  {% endblock %}

{% block body %}
<div class="page has-sidebar-left height-full" style="background-color:white;">
    <div class="container relative animatedParent animateOnce p-lg-5" >

      <h3 class="my-5">New Complain</h3>

        <form class="row g-3">
  <div class="col-md-6 my-4">
    <label for="inputEmail4" class="form-label">Seller Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6 my-4">
    <label for="inputPassword4" class="form-label">Order Id</label>
    <input type="text" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label class="form-label">Address</label>
    <textarea rows="8" class="form-control"></textarea>
  </div>

  <div class="col-12 mt-4">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>


    </div>
</div>
{% endblock %}