{% extends 'vendor_dashboard.html' %}
{% load static %}
{% block title %}UserProfile{% endblock %}

{% block css %}
<style>
img{
    float: left;
    width:  100px;
    height: 100px;
    object-fit: contain;

    }
    </style>
{% endblock %}

{% block body %}

<div class="page has-sidebar-left height-full bg-white">
    <div class="container-fluid relative animatedParent animateOnce p-lg-5">
        {% if order_featch %}
{% for x in order_featch %}
       <div class="card  shadow no-r mb-2">
            <div class="row no-gutters">
                <div class="col-md-12 ">

            <div class="card-header white d-flex justify-content-between ">
                <h4>Order Id <span class="badge badge-warning badge-pill s-12">{{x.order_id}}</span></h4>

            </div>
            <div class="card-body p-5">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
						<tr class="no-b">

						<th>Paid Amount: <span style="margin-left:10px;font-size:14pt;">Rs {{x.price}}</span></th>

							<th>Payment Mode:<span style="margin-left:10px;font-size:12pt;">{{x.payment_mode}}</span></th>
                            {% if x.order_status == 'Booked' %}
							<th>Order Status: &emsp;<span class="badge badge-warning badge-pill s-12"> {{x.order_status}}</span></th>

                            {% elif x.order_status == 'Deliver' %}
							<th>Order Status: &emsp;<span class="badge badge-success badge-pill s-12"> {{x.order_status}}</span></th>

                            {% else %}
							<th>Order Status: &emsp;<span class="badge badge-danger badge-pill s-12"> {{x.order_status}}</span></th>
                            {% endif %}
                            <th>Order Date:<span style="margin-left:10px;font-size:14pt;">{{x.date_time}}</span> </th>
						</tr>
                        <tr class="no-b">
                            <th>Buyer Address: <span style="margin-left:10px;font-size:12pt;">{{x.delivery_address.address}}</span></th>
                            <th>Buyer: <span style="margin-left:10px;font-size:14pt;">{{x.delivery_address.full_name}}&nbsp;{{x.user.last_name}}</span></th>
                            <th>Buyer Mobile: <span style="margin-left:10px;font-size:14pt;">{{x.delivery_address.phone}}</span></th>

                            {% if x.time_slot %}
							<th>Time Slot:<span style="margin-left:10px;font-size:12pt;">{{x.time_slot}}</span> </th>


                            {% endif %}
                            {% if x.cancel_date %}
                            <th>Cancle Date:<span style="margin-left:10px;font-size:12pt;">{{x.cancel_date}}</span></th>
                            {% endif %}
                        </tr>
                        <tr class="no-b">
                            {% if x.time_slot %}
                            <th></th>
                            {% else %}
                            <th>Delivery Address:<span style="margin-left:10px;font-size:12pt;">{{x.delivery_address.address}}</span> </th>
                            {% endif %}
                        </tr>
                        <tr class="no-b">
                            <th class="w-25"><h4>Product</h4></th>
                            <th><h4>Title</h4></th>
                            <th><h4>Price</h4></th>
                            <th><h4>Quantity</h4></th>

                        </tr>
                        {% for y in x.item.all %}
                        <tr class="no-b">


                            <td><img src="/media/{{y.image_fornt}}"></td>
                            <td>{{y.title}}</td>
                            <td>{{y.after_discount_price}}</td>
                            <td>{{y.quantity}}</td>


                        </tr>
                        {% endfor %}

                        </tbody>

                    </table>


                {% if x.order_status == 'Booked' %}
				<div class="col-md-6">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value="{{x.order_id}}">
					<input type="submit"  class="btn btn-success" value="Confirm">
                        </form>
                </div>
                {% endif %}

            </div>

        </div>
    </div>
	   </div>
	   </div>
{% endfor %}
{% else %}
         <div class="card  shadow no-r mb-2">
            <div class="row no-gutters">
                <div class="col-md-12 ">

            <div class="card-header white  justify-content-between ">
                <center> <h2 class="text-info">No Order Found</h2></center>
            </div></div></div></div>
        {% endif %}
</div>
</div>








{% endblock %}